body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font Sizes */
p, button, input, textarea, li, a, div {
  font-size: 1.1rem;
}
h3 {
  font-size: 1.6rem;
}
h2 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2.8rem;
}


